@media screen and (min-height: 1300px){

.nadpis {
  font-size: 80px;
}

.obal {
text-align: left;
width: 100%;
max-width: 3000px;
margin: 0;
}

.nav {
display: none;
}

.podnadpis {
  font-size: 30px;
}

.button-grey {
  width: 100%;
  font-size: 50px;
  height: 130px;
}

.button-blue {
  width: 100%;
  height: 130px;
  font-size: 50px;
  background-position: left bottom;
}

.button-green {
  width: 100%;
  height: 130px;
  font-size: 50px;
  background-position: left bottom;
}

.button-green:hover {
  background: rgba(0,102,20,0.4);
}

.good {
  width: 350px;
  height: 175px;
  font-size: 40px;
}

.bad {
  width: 350px;
  height: 175px;
  font-size: 40px;
}


.text{
font-size: 40px;
}

.alert{
  font-size: 25px;
}

.black {
  font-size: 60px;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flavour{
text-align: center;
font-style: italic;
font-size: 25px;
color: darkgrey;
padding: 0px 100px 35px 100px;
}


.hr{
 border: 0; 
 height: 2px;
 width: 100%; 
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));

}

.podnadpis2 {
  padding: 8px 20px 8px 20px;
  border-left: 5px solid rgb(200,0,0);
  background-image: linear-gradient(to right, rgba(230, 230, 230, 0.75), rgba(0, 0, 0, 0));
  font-size: 35px;
  color: rgb(200,0,0);
  text-align: left;
  top: 20px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;  
}

.podnadpis2:hover {
  margin-left: 3px;
}


.title{
font-size: 105px;
margin-top: 100px;
}

.tsumego {
width: 100%;
}

.wgo-tsumego-comment {
	font-size: 38px;
  height: 300px;
}

.wgo-tsumego-btn {
height: 130px;
font-size: 25px;
}

.bttn{
height: 100px;
min-width: 210px;
font-size: 20px; 
}

.bttn-selected{
height: 100px;
min-width: 210px;
font-size: 20px;
padding: 0px;
border-bottom: 0px solid black; 
}

}