@tailwind base;

@tailwind components;

@tailwind utilities;

/* 
############################### LINKS 
*/

html {
  scroll-behavior: smooth;
}

a:link {
	color: black;
	/*text-decoration: none;*/
}
a:visited {
	color: black;
}
a:hover {
	color: black;
}

.nav a:link {
	color: black;
	text-decoration: none;
}
.nav a:visited {
	color: black;
}
.nav a:hover {
	color: rgba(0,102,102,0.7);
}

body{
background: whitesmoke;
font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
font-family: 'Raleway', sans-serif;
background-image: url(../../static/images/pattern.png);
}

@screen md {
  body.index {
    background-image:  url(../../static/images/1.jpg), url(../../static/images/pattern.png);
    background-position: center top, center left;
    background-repeat: no-repeat, repeat;
  }
  .header {
    position: relative;
    height: 500px;
    max-width: 1024px;
  }
}


.bttn{
font-family: 'Raleway', sans-serif;
min-width: 150px;
background: rgba(0,102,20,0.2);
padding: 10px;
margin: 10px;
border: 0px solid black;
cursor: pointer;
font-weight: bold;
font-size: 18px;  
}

.bttn:hover{
background: rgba(0,102,20,0.5);
}

.bttn-selected{
font-family: 'Raleway', sans-serif;
min-width: 150px;
padding: 10px;
margin: 10px;
border: 0px solid black;
cursor: pointer;
font-weight: bold;
font-size: 18px; 
background: rgba(0,102,20,0.4);
border: 0px solid black;
border-bottom: 10px solid rgba(0,102,20,0.5);
}

/* 
############################### POSITIONING
*/

.obal {
	display: block;
	margin: 0 auto;
	text-align: left;
	max-width: 1024px;
  border: 0px solid black;
  text-align: center;   
}


.nav{
width: 100%;
font-size: 1.25rem;
font-weight: 900;
text-transform: uppercase;
text-align: center;
}

@screen md {
  .nav {
    position: absolute;
    top: 200px;
  }
}

.title{
font-size: 3rem;
color: rgba(0,102,102,0.7);
font-weight: 900;
margin-left: auto;
text-align: center;
margin-top: 1.5em;
}

@screen md {
  .title {
    font-size: 65px;
    min-width: 700px;
  }
}

/* 
############################### BUTTONS 
*/

.button-grey {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 20px; 
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background: rgba(202,202,202,0.8);
  cursor: pointer;
  font-size: 30px;
  color: white;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.button-grey:hover {
  background: rgba(202,202,202,1);
}

.button-blue {
  display: inline-block;
  width: 325px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  background: rgba(0,102,102,0.2);
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.button-blue:hover {
  background-color: rgba(0,102,102,0.4);
}

.button-green {
  display: inline-block;
  width: 325px;
  margin-top: 5px;
  padding: 10px;
  text-align: center;
  background: rgba(0,102,20,0.2);
  cursor: pointer;
  font-size: 20px;
  vertical-align: middle;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.button-green:hover {
  background-color: rgba(0,102,20,0.4);
}

.good {
  height: 75px;
  padding: 10px;
  text-align: right;
  background: rgba(0,102,20,0.2);
  cursor: pointer;
  font-size: 20px;
  border-right: 10px solid rgba(0,102,20,0.5);


  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.good:hover {
  background: rgba(0,102,20,0.4);
}

.bad {
  height: 75px;
  padding: 10px;
  text-align: left;
  background: rgba(102,0,20,0.2);
  cursor: pointer;
  font-size: 20px;
  border-left: 10px solid rgba(102,0,20,0.5);


  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

@screen md {
  .bad {
    position: absolute;
    width: 300px;
    left: 50px;
  }
  .good {
    position: absolute;
    width: 300px;
    right: 50px;
  }
}

.bad:hover {
  background: rgba(102,0,20,0.4);
}

/* 
############################### TEXTS 
*/

.nadpis {
  font-weight: 900;
  margin-top: 1.5em;
  margin-left: 20px;
  font-size: 50px;
  color: black;
  text-align: left;
}

.podnadpis {
  margin-left: 20px;
  font-size: 20px;
  color: rgb(200,0,0);
  text-align: left;
  top: 20px;
}


.text{
text-align: justify; 
padding: 20px;
font-size: 20px;
}

.alert{
  @apply mx-auto;
  padding: 10px;
  width: 80%;
  background-image: linear-gradient(to right, rgba(48, 197, 48, 0.2), rgba(0,0,0,0)); /* using Tailwind's red-700*/
  font-size: 15px;
}

.black {
  font-weight: 900;
  font-size: 30px;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flavour{
text-align: center;
font-style: italic;
font-size: 16px;
color: rgb(90,90,90);
padding: 0px 100px 35px 100px;
}


hr{
 border: 0; 
 height: 2px;
 width: 100%; 
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));

}

.podnadpis2 {
  padding: 8px 20px 8px 20px;
  border-left: 5px solid rgb(200,0,0);
  background-image: linear-gradient(to right, rgba(230, 230, 230, 0.75), rgba(0, 0, 0, 0));
  font-size: 20px;
  color: rgb(200,0,0);
  text-align: left;
  top: 20px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;  
}

.podnadpis2:hover {
  margin-left: 3px;
}



.tsumego{
/*width: 465px;*/
max-width: 465px;
margin: 0 auto;
padding: 10px; 
border-radius: 10px;
text-align: center;
margin-top: 0em;
}

.puzzle {
  @apply text-left;
}

.puzzle p {
  @apply mb-8;
}

a {
  @apply underline;
}

a[class*="button"] {
  @apply no-underline;
}

.puzzle h1 {
  @apply text-5xl font-bold;
}

.puzzle h2 {
  @apply text-xl text-red-600 mb-2;
}

.puzzle .rule {
  border-left: 5px solid rgb(200,0,0);
  background-image: linear-gradient(to right, rgba(230, 230, 230, 0.75), rgba(0, 0, 0, 0));
  transition: all 1s ease;  
}

.puzzle h3 strong {
  @apply uppercase;
}

.puzzle h2 a {
  @apply text-red-600;
}

.puzzle h2 a:hover {
  @apply text-red-700;
}

.puzzle iframe {
  @apply mb-4;
}

.puzzle blockquote {
  @apply text-center text-gray-700 mt-8 mb-32 w-5/6 mx-auto;
  position: relative;
}

.puzzle blockquote p {
  @apply m-0 py-4;
}

.puzzle ol {
  @apply list-decimal mb-8;
}

.puzzle blockquote:before, .puzzle blockquote:after {
  content: '';
  border: 0;
  height: 2px;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  position: absolute;
  left: 15px;
  right: 15px;
}

.bad, .good{
  font-size: 1.25rem;
  height: 6rem;
  display: block;
  @apply no-underline;
}

.button-green, .button-blue {
  font-size: 1.25rem;
  height: 6.1rem;
  background-position: left bottom;
  @apply leading-tight;
}

#board canvas {
  @apply mx-auto mb-8;
}

@media only screen and (max-width: 600px) {
  #board {
     transform: scale(0.63);
	 transform-origin: -10% 0%;
  }
}

