<!DOCTYPE html>
<html>
    <head>
        {{- partial "head.html" . -}}
        <title>{{ block "title" . }}Learn to play Go{{ end }}</title>
        {{ block "extraInlineCSS" . }}
        {{ end}}
        {{ block "extraJS" . }}
        {{ end }}
    </head>
    <body class="text-lg p-4 lg:p-0 {{block "extraBodyClass" .}}{{ end }}" {{block "onLoad" . }} {{ end }}>
        {{- block "body" . }}
            {{- partial "header.html" . -}}
            <div id="content">
            {{- block "main" . }}{{- end }}
            </div>
            {{- partial "footer.html" . -}}
        {{- end }}
    </body>
</html>
