{{ define "extraInlineCSS" }}
{{ end }}

{{ define "extraBodyClass" }}index{{ end }}

{{ define "onLoad"}}
onload="checkCookies()"
{{ end }}
    
{{ define "body" }}
              <a href="" onclick="reset()" style="position: absolute; top: 10px; right: 15px; color: rgba(0,102,20,0.3);"><b>Reset all progress</b></a>
<!-- NAVBAR -->
    <div class="obal header">
          <noscript>
            <span style="margin: 0 auto; background: rgb(255,102,0); padding: 10px; font-weight: bold;">This site is too complicated to work without javascript. Please turn it on. There are no trackers or anything nasty here.</span> 
          </noscript>
           

              <div class="title" style="">Learn to Play Go Already!</div>
              <div style="text-align: right; color: rgba(0,102,20,0.3); margin-right: 20px; font-weight: 900; font-size: 15px;"><i>a loving homage to the original "<a href="http://www.playgo.to/iwtg/en/" target="_blank">Interactive Way to Go</a>"</i></div><br>



          <div class= "nav hidden sm:block">
			<p style="font-size: 0.75rem;">rules and strategies:</p>
              <a href="#rules">Basic&nbsp;Rules</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="#techniques">Basic&nbsp;techniques</a>&nbsp;&nbsp;|&nbsp;&nbsp;
              <a href="#strategies">Basic&nbsp;Strategies</a><br><br>

			<p style="font-size: 0.75rem;">Where to play, where to learn:</p>             
              <a href="#what_now">I think I can play, Now What?</a><br><br>

			<p style="font-size: 0.75rem;">Who made all this:</p>             
              <a href="#credits">Credits</a><br>
          </div>
    </div>
<!-- END OF NAVBAR -->

{{ .Content }}

</div>
{{ end }}